body{
color: white;
background-color: black;
font-family: Arial, Helvetica, sans-serif;
}
ul{
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding:  16px;

}
a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

header img{
    width: 100px;
    heidght: 100px;
    border-radius: 50%;
    border: 5px solid blue;
}
.center{
    text-align: center;
}
h1 {
    color:aqua;
}
footer img{
    width: 50px;
    heidght: 50px;
    border-radius: 50%;
    
}
footer{
    display: flex;
    justify-content: center;
   
}
footer a{
    margin: 0 20px;
    text-align: center;
}
footer p{
    
    margin-top: 2px;
}
.container{
    
    padding:  0px 50px;
}
nav a:hover{
    color: aqua;
}   